
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: auto;
  margin: 0;
  flex-direction: column;
  
  
}
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 10vw;
    padding-right: 10vw;
   
  }
  header, .section1 {
    background-color: #1F2937;
  }

  .logo {
    margin-top: 15px;
    font-size: 24px;
    color: #F9FAF8;
  }

  ul {
    min-width: 40vw;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
  }

#hero-text {
  font-size: 48px;
  font-weight: 800;
  color: #F9FAF8;
}

#secondary-text, ul > li {
  color: #E5E7EB;
  font-size: 18px;
}
.section1 {

    padding-top: 45px;
    padding-left: 10vw;
    padding-right: 10vw;
   
    display: flex;
    justify-content: space-between;
  } 

  .image-holder{
    margin-right: 5px;
  }

 .image-holder > img {
    
    height: 350px;
    width: 500px;
} 

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
  color: white;
}

main {
  margin: 50px ;
  background-color: white;
  width: 100%; 
  display: flex;
  align-items: center;
  flex-direction: column;
}
main > h2 {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  height: 65vh;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 2px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 3;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}



.section2 {
  margin: 25px;
  height: 40vh;
  width: 100%;
  
  display: flex;
  background-color: #E5E7EB;
  
  justify-content: center;
  align-items: center;
}

figcaption {
  text-align: end;
  font-size: 16px;
}

footer {
  padding: 25px;
  width: 70vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  background-color: #3882F6;
  color: #F9FAF8;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 40px;
  font-size: 18px;
}

button {
  color: #F9FAF8;
  background-color: #3882F6;
  font-size: 24px;

}

#quote {
  font-style: light italic;
  font-size: 36px;
  color: #1F2937;

}

#information-header {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
}
div p a {
  color: black;
}